.hero {
  text-align: center;
  padding: 4em 1em;
  /* Remove the background image property as we're setting it inline */
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero h2 {
  margin-bottom: 0.5em;
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.2rem;
}
