body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0;
  background: linear-gradient(120deg, #dcba4a, #1d88b3);
  color: #333;
  min-height: 100vh;
}

.main-content {
  padding: 0em 0em;
  /* max-width: 1200px; */
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
